In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2022-05-08 10:20:11,77.4840,-69.3632,20.14,75,100,4.94
1,1,Mufumbwe,ZM,2022-05-08 10:20:11,-13.6833,24.8000,81.82,42,27,4.70
2,2,Gravdal,NO,2022-05-08 10:20:12,68.1214,13.5031,38.17,62,100,21.54
3,3,Otavi,NaN,2022-05-08 10:20:13,-19.6500,17.3333,77.88,19,0,6.42
4,4,Punta Arenas,CL,2022-05-08 10:15:28,-53.1500,-70.9167,44.11,81,40,26.46

In [3]:
# Get the data types.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.


fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df = preferred_cities_df.dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mufumbwe,ZM,2022-05-08 10:20:11,-13.6833,24.8000,81.82,42,27,4.70
6,6,Georgetown,MY,2022-05-08 10:17:33,5.4112,100.3354,89.53,72,40,10.36
8,8,Carupano,VE,2022-05-08 10:20:15,10.6678,-63.2585,75.72,91,98,6.15
10,10,Beloha,MG,2022-05-08 10:20:16,-25.1667,45.0500,86.20,43,1,5.68
18,18,Hithadhoo,MV,2022-05-08 10:17:29,-0.6000,73.0833,84.45,76,64,19.15
24,24,Jiwani,PK,2022-05-08 10:20:24,25.0500,61.7417,85.57,72,0,13.31
29,29,Port-Gentil,GA,2022-05-08 10:20:27,-0.7193,8.7815,85.96,70,40,9.22
30,30,Dingle,PH,2022-05-08 10:20:27,10.9995,122.6711,83.03,74,56,7.92
32,32,San Andres,CO,2022-05-08 10:20:28,12.5847,-81.7006,80.62,89,75,6.91
35,35,Manaure,CO,2022-05-08 10:20:30,11.7751,-72.4445,79.52,82,78,11.01

In [21]:
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1      Mufumbwe      ZM     81.82 -13.6833   24.8000
6    Georgetown      MY     89.53   5.4112  100.3354
8      Carupano      VE     75.72  10.6678  -63.2585
10       Beloha      MG     86.20 -25.1667   45.0500
18    Hithadhoo      MV     84.45  -0.6000   73.0833
24       Jiwani      PK     85.57  25.0500   61.7417
29  Port-Gentil      GA     85.96  -0.7193    8.7815
30       Dingle      PH     83.03  10.9995  122.6711
32   San Andres      CO     80.62  12.5847  -81.7006
35      Manaure      CO     79.52  11.7751  -72.4445

In [31]:
# Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mufumbwe,ZM,81.82,-13.6833,24.8000,
6,Georgetown,MY,89.53,5.4112,100.3354,Cititel Penang
8,Carupano,VE,75.72,10.6678,-63.2585,Hotel La dorada
10,Beloha,MG,86.20,-25.1667,45.0500,Marokala Ouest
18,Hithadhoo,MV,84.45,-0.6000,73.0833,Scoop Guest House
24,Jiwani,PK,85.57,25.0500,61.7417,Al Mumtaz Transport Jiwani
29,Port-Gentil,GA,85.96,-0.7193,8.7815,Fengshui Residence
30,Dingle,PH,83.03,10.9995,122.6711,SEGAYA PROPERTY
32,San Andres,CO,80.62,12.5847,-81.7006,Hotel Arena Blanca
35,Manaure,CO,79.52,11.7751,-72.4445,Hotel Palaaima

In [35]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))